{% extends "layout.html" %}

{% block title %}
    register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirm_password" placeholder="confirm password" type="password">
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">register</button>
        </div>
    </form>
{% endblock %}
